body {
    margin: 0;
    background: aliceblue;
    text-align: center;
    font-family: Verdana;
}



header {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #edf0f1;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}
/*.logo {
    cursor: pointer;
    height: 50px;
    width: auto;
}*/
.word-logo {
    padding-left: 0px;
    font-size: 30px;
    font-weight: bold;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: #0088a9;
}
button {
    padding: 9px 24px; 
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


a.current {
    /*color: #ff105e;*/
    background-color: #3e404a;
    padding: 8px 12px;
    border-radius: 50px;
}



.menu-button {
    display: none;
    padding: 9px 2px;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
}
.menu-button .bar {
    height: 4px;
    width: 100%;
    border-radius: 3px;
    background-color: aliceblue;
}
@media (max-width: 915px) {
    .menu-button {
        display: flex;
        transition-duration: 0.4s;
    }
    .nav-links {
        display: none;
        flex-direction: column;  
        position:absolute;
        padding-top: 15px;
    }
    .cta {
        position: relative;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links li {
        text-align: left;
        padding: 8px 0px;
    }
    .nav-links li a {
        padding: 8px 10px;
    }
    .nav-links.active {
        display: flex;
        margin-top: 40px;
        padding-bottom: 5px;
        left: 0px;
        width: 100%;
        background-color: #24252aec;
    } 
    .menu-button.close {
        transform: rotate(180deg);
        transition-duration: 0.4s;
    }   
    .menu-button.close .bar:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
    }
    .menu-button.close .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-button.close .bar:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }
}







.website-heading {
    font-family:Arial;
    margin-top: 20px;
}
.linkedin {
    background-color: rgb(10, 102, 194);
    color: aliceblue;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
.linkedin:hover {
    background-color: aliceblue;
    color: rgb(10, 102, 194);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.github {
    background-color: rgb(22, 14, 43);
    color: aliceblue;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
.github:hover {
    background-color: aliceblue;
    color: rgb(22, 14, 43);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}
.section-title {
    font-family:Helvetica;
    font-size: 30px;
    font-weight: bold;
}

.button-container {
    display: inline-flex;
}